<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base_URL</key>
	<string>http://stage.api.itzlit.io/api/v1/</string>
	<key>Branch_URI_Scheme</key>
	<string>itzlitStaging</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ITZLIT-Stage</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itzlitStaging</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1956063404632975</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.202860468598-87kbmv1k3aja4dnh405unkhdgo00d7gg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>27</string>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>FB_URL_Scheme</key>
	<string>fb1956063404632975</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e1b97dd84f62904eaf7cda5204f67e9421443461</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1956063404632975</string>
	<key>FacebookDisplayName</key>
	<string>ITZLIT - Stage</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>verifymobilenumberscheme</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We want to use Camera for uploading Story / Live Streaming</string>
	<key>NSContactsUsageDescription</key>
	<string>We provide you seemless experience to find your Friends</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We want to use Mic for uploading Story / Live Streaming</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>So that you can save Story to Photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>So that you can save Story to Photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Roboto-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>StoryShare</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>Verify_Link</key>
	<string>https://itzlit-stage.app.link/verify</string>
	<key>WowzaKey</key>
	<string>GOSK-1845-0103-F7C3-20E7-C43C</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_hlqNvJDx77tVIGTY8Kg9gbfbCybwwrI0</string>
	</dict>
	<key>invitationLinkURL</key>
	<string>https://itzlit-stage.app.link/invite</string>
	<key>socketURL</key>
	<string>http://stage.api.itzlit.io</string>
	<key>ytClientID</key>
	<string>202860468598-87kbmv1k3aja4dnh405unkhdgo00d7gg.apps.googleusercontent.com</string>
</dict>
</plist>
