<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base_URL</key>
	<string>http://dev.api.itzlit.io/api/v1/</string>
	<key>Branch_URI_Scheme</key>
	<string>itzlitDevelopment</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ITZLIT-Dev</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>QA_0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itzlitDevelopment</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb209147826319615</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1089310967141-l8ntv0bebp4omdg26mabj71nubumiel4</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>FB_URL_Scheme</key>
	<string>fb209147826319615</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e1b97dd84f62904eaf7cda5204f67e9421443461</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>209147826319615</string>
	<key>FacebookDisplayName</key>
	<string>ITZLIT - Dev</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>verifymobilenumberscheme</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We want to use Camera for uploading Story / Live Streaming</string>
	<key>NSContactsUsageDescription</key>
	<string>We provide you seemless experience to find your Friends</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We want to use Mic for uploading Story / Live Streaming</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>So that you can save Story to Photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>So that you can save Story to Photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Roboto-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>StoryShare</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>Verify_Link</key>
	<string>https://itzlit-dev.app.link/verify</string>
	<key>WowzaKey</key>
	<string>GOSK-EA44-0103-2007-D032-4B95</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_knqUFVuq14qSGE3sl4w6ydhlCtoyBsSi</string>
	</dict>
	<key>invitationLinkURL</key>
	<string>https://itzlit-dev.app.link/invite</string>
	<key>socketURL</key>
	<string>http://dev.api.itzlit.io</string>
	<key>ytClientID</key>
	<string>1089310967141-l8ntv0bebp4omdg26mabj71nubumiel4.apps.googleusercontent.com</string>
</dict>
</plist>
