<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">Saintproductions LLC (&ldquo;us&rdquo; or &ldquo;we&rdquo;) built the ITZLIT app as a &rdquo;freemium&rdquo; app. The services available through the ITZLIT app are provided by Saintproductions LLC and intended for use as-is.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">This page is used to inform ITZLIT app users and website visitors regarding our policies with the collection, use, and disclosure of personal information of persons who use the ITZLIT app and/or website (individually or collectively, the &ldquo;Service&rdquo;).</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">If you choose to use the Service, then you agree to the collection and use of information in relation to this policy. The personal information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, unless otherwise explicitly stated in this Privacy Policy.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Information Collection and Use</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">For a better experience, while using the Service, we may require you to provide us with certain personally identifiable information. The information that we request is and will be retained by us and used as described in this Privacy Policy. The Service may use third party services that may collect information used to identify you. Link to privacy policy of third party service providers used by the Service: </span></span></span></p>

<p><a href="https://www.wowza.com/legal/privacy" target="_blank"><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">https://www.wowza.com/legal/privacy</span></span></span></a></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica"><a href="https://www.wowza.com/legal/gocoder-sdk" target="_blank" style="color:blue; text-decoration:underline">https://www.wowza.com/legal/gocoder-sdk</a></span></span></span></p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Log Data</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">We want to inform you that whenever you use the Service, and particularly in a case of an error in the ITZLIT app, we collect data and information (e.g., through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (&ldquo;IP&rdquo;) address, device name, operating system version, the configuration of the ITZLIT app when utilizing the Service, the time and date of your use of the Service, and/or other statistics.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Cookies</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your device internal memory. The Service does not use these &ldquo;cookies&rdquo; explicitly. However, the ITZLIT app may use third party code and libraries that use &ldquo;cookies&rdquo; to collect information and to improve their services. You have the option to either accept or refuse these cookies, and it is your responsibility to know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Service Providers</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">We may employ third party companies and individuals, such as for the following reasons:</span></span></span></p>

<ul>
	<li><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">To facilitate the Service;</span></span></span></li>
	<li><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">To provide the Service on our behalf;</span></span></span></li>
	<li><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">To perform Service-related services; and/or</span></span></span></li>
	<li><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">To assist us in analyzing how the Service is used.</span></span></span></li>
</ul>

<p style="margin-left:36.0pt">&nbsp;</p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">Users of the Service should know that these third parties have access to your personal information, such as to enable these third parties to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Security</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">We value your trust in providing us your personal information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the Internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee the absolute security of any network or other connection or protocol used to communicate data with the Service.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Links to Other Sites</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">The Service may contain links to other sites. If you click on a third party link, you will be directed to that site. Note that these external sites are not operated by us or under our control. Therefore, we strongly advise you to review the privacy policies of each of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third party sites or services.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Children&rsquo;s Privacy</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">The Service is not provided for and should not be used by anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13 years of age. In the case we discover that a child under 13 years of age has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to take necessary actions.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Changes to This Privacy Policy</span></span></strong></span></p>

<p><span style="background-color:white"><span style="font-size:10.5pt"><span style="font-family:Helvetica">We may update this Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting a new Privacy Policy on this page. Any such changes are effective immediately after they are posted on this page.</span></span></span></p>

<p>&nbsp;</p>

<p><span style="background-color:white"><strong><span style="font-size:10.5pt"><span style="font-family:Helvetica">Contact Us</span></span></strong><span style="font-size:10.5pt"><span style="font-family:Helvetica"> If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at <a href="mailto:Itzlitlive@gmail.com">Itzlitlive@gmail.com</a>. -ITZLIT</span></span></span></p>